body {
    background: lavender;
    font-family: Consolas, monospace;
}

h1 {
    font-family: Consolas, monospace;
    color: indigo;
}

label {
    display: block;
    padding: 5px;
}

button {
    color:white;
    background: indigo;
    padding: 5px;
}